@use "./../../App";

.header {
  background-color: App.$bg-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  color: App.$text-color;

  input[type="file"] {
    display: none;
  }

  .custom-file-upload {
    border: 1px solid white;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
}
